@{
    ViewData["Title"] = "O nas";
}

<div class="container about-us align-content-center">
    <div class="row align-items-center">
        <div class="col-6 text-md-start">
            <h2 class="rooms-header">O nas</h2>
            <p>
                Witaj w naszym wyjątkowym hotelu, ulokowanym na tratwie dryfującej pośrodku Atlantyku!
                To miejsce jest stworzone dla miłośników przygody i luksusu,
                którzy pragną oderwać się od zgiełku codzienności.
                Nasz hotel oferuje przestronne, komfortowe pokoje,
                które zapewniają spokojny sen z kojącym szumem fal w tle. 
                Do dyspozycji gości oddajemy pełne udogodnienia, w tym elegancki mini-bar, 
                kuchnię serwującą wykwintne dania oraz taras z widokiem na nieskończony horyzont oceanu. 
                Zespół naszej załogi jest gotowy, by zapewnić Ci niezapomniane chwile w sercu natury. 
                Zanurz się w unikalnym doświadczeniu, gdzie relaks spotyka się z prawdziwym pięknem oceanu! 🌊✨
            </p>
        </div>
        <div class="vr px-0 mx-5"></div>
        <div class="col-5 about-us-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21407634.599117275!2d-47.185355763884054!3d25.854139299092466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x65a81cae36eb8ff%3A0xa6342257f310534f!2sOcean%20Atlantycki!5e0!3m2!1spl!2spl!4v1744201798178!5m2!1spl!2spl"
                    width="400" height="300" style="border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
