@{
    ViewData["Title"] = "Atrakcje";
}

<div class="container">
    <h1 class="rooms-header">Atrakcje</h1>
    <div class="row row-cols-3 justify-content-center gap-5 mt-4">

        <div class="col-4">
            <div class="card align-items-center text-center atraction-card">
                <div class="img-container">
                    <img src="~/content/atractions/mini-bar.png" class="card-img-top" alt="mini barek">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mini barek</h5>
                    <p class="card-text">
                        Mini barek na tratwie to wyjątkowe miejsce, gdzie unikalna atmosfera łączy się z naturalnym pięknem otaczającej wody.
                        Goście mogą delektować się wyśmienitymi drinkami, podziwiając jednocześnie spokojne fale i zachód słońca.
                    </p>
                    <a href="#" class="btn atraction-btn">Rezerwuj</a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card align-items-center text-center atraction-card">
                <div class="img-container">
                    <img src="~/content/atractions/grill.png" class="card-img-top" alt="grill">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Grill</h5>
                    <p class="card-text">
                        Grill na tratwie to niezapomniane doświadczenie, które łączy smak soczystych potraw z odprężającą atmosferą na wodzie.
                        Podczas gdy mięsa skwierczą na ruszcie, goście mogą cieszyć się świeżym powietrzem i malowniczymi widokami.
                    </p>
                    <a href="#" class="btn atraction-btn">Rezerwuj</a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card align-items-center text-center atraction-card">
                <div class="img-container">
                    <img src="~/content/atractions/restauracja.png" class="card-img-top" alt="restauracja">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Restauracja</h5>
                    <p class="card-text">
                        Restauracja na tratwie to harmonijne połączenie smaków i natury, gdzie dania serwowane są w otoczeniu spokojnych wód.
                        Eleganckie wnętrze i wyjątkowe widoki tworzą idealne miejsce na niezapomniane kulinarne doświadczenia.
                    </p>
                    <a href="#" class="btn atraction-btn">Rezerwuj</a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card align-items-center text-center atraction-card">
                <div class="img-container">
                    <img src="~/content/atractions/jogging.png" class="card-img-top" alt="jogging">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Jogging</h5>
                    <p class="card-text">
                        Jogging na tratwie to niecodzienna forma aktywności, która łączy sport z kojącym szumem wody.
                        Bieganie w takim otoczeniu zapewnia świeże powietrze, malownicze widoki i odprężający kontakt z naturą.
                    </p>
                    <a href="#" class="btn atraction-btn">Rezerwuj</a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card align-items-center text-center atraction-card">
                <div class="img-container">
                    <img src="~/content/atractions/kolonizacja.png" class="card-img-top" alt="kolonizacja księżyca">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Kolonizacja księżyca</h5>
                    <p class="card-text">
                        Tratwa na Oceanie Atlantyckim z księżycem na pokładzie to wizja wyjęta z kosmicznej bajki!
                        Ta surrealistyczna sceneria symbolizuje unikalne połączenie ziemskiego piękna i lunarnych aspiracji, zachęcając do kreatywnego spojrzenia na możliwości odkrywania nowych światów.
                        </p>
                    <a href="#" class="btn atraction-btn">Rezerwuj</a>
                </div>
            </div>
        </div>

    </div>
</div>