@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-start">
    <div class="container">
        <div class="text-center mb-4">
            <img src="~/content/front/banner.png" class="img-fluid banner" alt="banner" />
        </div>
        <div class="text-center">
            <h1 class="header-text">Ekskluzywny hotel na środku oceanu</h1>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-md-7 col-sm-12">
                <div class="row-headers mb-3 text-center text-md-start">
                    <p>NATURA, HARMONIA, UNIKALNOŚĆ</p>
                </div>
                <div class="row-description text-center text-md-start">
                    <p>
                        Zapraszamy do jedynego w swoim rodzaju hotelu na środku oceanu – miejsca, gdzie luksus i natura harmonijnie splatają się w niezapomniane doświadczenie. Nasze wyjątkowe tratwy, unoszące się na bezkresnych wodach, zapewniają absolutny spokój, prywatność oraz bliskość natury w najczystszej postaci.
                    </p>
                    <p>
                        Każda tratwa to komfortowa przestrzeń z nowoczesnym wyposażeniem, w tym panoramicznymi oknami oferującymi widok na otwartą wodę i zachody słońca, które zapierają dech w piersiach. Goście mogą relaksować się w wygodnym łóżku, słuchać kojącego szumu fal lub podziwiać gwiazdy z prywatnego tarasu.
                    </p>
                    <p>
                        Dla miłośników przygód przygotowaliśmy dodatkowe atrakcje: snorkeling, obserwację delfinów, poranne medytacje na wodzie i romantyczne kolacje przy blasku księżyca. Każdy posiłek serwowany w naszym hotelu jest przygotowywany z najwyższej jakości składników, odzwierciedlając lokalną, oceaniczną kuchnię.
                    </p>
                    <p>
                        To miejsce, gdzie granice codzienności zanikają, a goście odnajdują harmonię i połączenie z otaczającą przyrodą. U nas zarezerwujesz nie tylko nocleg, ale także niezapomniane chwile na środku świata. 🌊
                    </p>
                </div>
            </div>
            <!-- Sekcja obrazu -->
            <div class="col-md-5 col-sm-12 text-center">
                <img src="~/content/front/tratwa2.png" class="img-fluid tratwa" alt="Tratwa" />
            </div>
        </div>

        <div class="text-center">
            <h1 class="header-text">Poznaj naszą ofertę</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center">
            <div class="col">
                <div class="card h-100 d-flex flex-col p-3">
                    <img src="~/content/rooms/eco.png" class="card-img-top" alt="tratwa eco">
                    <div class="card-body">
                        <h5 class="card-title">Eco</h5>
                        <p class="card-text">
                            Idealne rozwiązanie dla tych, którzy cenią sobie prostotę i bliskość natury.
                            W pełni funkcjonalna tratwa z podstawowymi udogodnieniami,
                            gwarantująca niezapomniane doświadczenie na środku oceanu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 d-flex flex-col p-3">
                    <img src="~/content/rooms/classic.png" class="card-img-top" alt="tratwa classic">
                    <div class="card-body">
                        <h5 class="card-title">Classic</h5>
                        <p class="card-text">
                            Komfort w swojej klasycznej formie.
                            Tratwa wyposażona w standardowe udogodnienia,
                            zapewniająca wygodny wypoczynek i relaks z widokiem na bezkres wody.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 d-flex flex-col p-3">
                    <img src="~/content/rooms/deluxe.png" class="card-img-top" alt="tratwa deluxe">
                    <div class="card-body">
                        <h5 class="card-title">Deluxe</h5>
                        <p class="card-text">
                            Wygoda i elegancja na wyciągnięcie ręki.
                            Tratwa oferuje dodatkowe udogodnienia, przestronność i subtelne detale,
                            które tworzą wyjątkową atmosferę luksusu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 d-flex flex-col p-3">
                    <img src="~/content/rooms/exclusive.png" class="card-img-top" alt="tratwa exclusive">
                    <div class="card-body">
                        <h5 class="card-title">Exclusive</h5>
                        <p class="card-text">
                            Kwintesencja luksusu i prywatności.
                            Ekskluzywna tratwa z najwyższej jakości wyposażeniem,
                            panoramicznym widokiem na ocean oraz unikalnym serwisem dopasowanym do Twoich potrzeb.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
