@using Hotel.Data.Data.Atractions
@using Hotel.Data.Data.DTO
@using Hotel.Data.Data.Rooms
@model Hotel.Data.Data.CMS.Page
@{
    ViewData["Title"] = @Model.LinkTytul;
}

@switch (Model.IdStrony)
{
    case 1:
        @await Html.PartialAsync("StronaGlowna", (IEnumerable<HomePageMediaDTO>)ViewBag.StronaGlowna)
        ;
        break;
    case 2:
        @await Html.PartialAsync("Pokoje", (IEnumerable<Room>)ViewBag.Pokoje)
        ;
        break;
    case 3:
        @await Html.PartialAsync("Atrakcje", (IEnumerable<Atraction>)ViewBag.Atrakcje)
        ;
        break;
    default:
        <h1 class="rooms-header">@Model.Tytul</h1>
        <p>@Html.Raw(@Model.Tresc)</p>
        break;
}
