@{
    ViewData["Title"] = "Pokoje";
}

<div class="container">
    <div class="row row-cols-1 g-0 justify-content-center">
        <h1 class="rooms-header">Poznaj naszą ofertę</h1>
        <div class="col-md-12 rooms-wide-card">
            <div class="card h-100 d-flex flex-row p-3">
                <img src="~/content/rooms/eco.png" class="card-img-left" alt="tratwa eco">
                <div class="card-body">
                    <h5 class="card-title ms-3">Eco</h5>
                    <p class="card-text ms-2">
                        Idealne rozwiązanie dla tych, którzy cenią sobie prostotę i bliskość natury.
                        W pełni funkcjonalna tratwa z podstawowymi udogodnieniami,
                        gwarantująca niezapomniane doświadczenie na środku oceanu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 rooms-wide-card">
            <div class="card h-100 d-flex flex-row p-3">
                <img src="~/content/rooms/classic.png" class="card-img-left" alt="tratwa classic">
                <div class="card-body">
                    <h5 class="card-title ms-3">Classic</h5>
                    <p class="card-text ms-2">
                        Komfort w swojej klasycznej formie.
                        Tratwa wyposażona w standardowe udogodnienia,
                        zapewniająca wygodny wypoczynek i relaks z widokiem na bezkres wody.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 rooms-wide-card">
            <div class="card h-100 d-flex flex-row p-3">
                <img src="~/content/rooms/deluxe.png" class="card-img-left" alt="tratwa deluxe">
                <div class="card-body">
                    <h5 class="card-title ms-3">Deluxe</h5>
                    <p class="card-text ms-2">
                        Wygoda i elegancja na wyciągnięcie ręki.
                        Tratwa oferuje dodatkowe udogodnienia, przestronność i subtelne detale,
                        które tworzą wyjątkową atmosferę luksusu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 rooms-wide-card">
            <div class="card h-100 d-flex flex-row p-3">
                <img src="~/content/rooms/exclusive.png" class="card-img-left" alt="tratwa exclusive">
                <div class="card-body">
                    <h5 class="card-title ms-3">Exclusive</h5>
                    <p class="card-text ms-2">
                        Kwintesencja luksusu i prywatności.
                        Ekskluzywna tratwa z najwyższej jakości wyposażeniem,
                        panoramicznym widokiem na ocean oraz unikalnym serwisem dopasowanym do Twoich potrzeb.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>