html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo-container {
    height: 50px;
}

.logo {
    height: 100px;
    width: auto;
    margin-left: 50px;
    object-fit: cover;
}

.nav-link {
    font-weight: bold;
}

.div-login {
    background-color: #33ab9f;
    border-radius: 50px;
}

.btn-login {
    color: #f2efe9;
    letter-spacing: .16em;
    margin: 5px;
}

.header {
    text-align: center;
    color: #5b6e7f !important;
    font-size: 30px;
}

.accent-btn {
    background-color: #33ab9f;
    color: white;
}

.accent-btn:hover {
    background-color: #33ab9faa;
    color: white;
}

.image-preview{
    width: 100px;
}

.table-dark {
    --bs-table-bg: rgb(51, 171, 159);
    border-color: white;
}

.bg-dark {
    background-color: rgb(51, 171, 159) !important;
    border-color: white;
}