@model Hotel.PortalWWW.Models.Rooms.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPokoju" />
            <div class="form-group">
                <label asp-for="Typ" class="control-label"></label>
                <input asp-for="Typ" class="form-control" />
                <span asp-validation-for="Typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numer" class="control-label"></label>
                <input asp-for="Numer" class="form-control" />
                <span asp-validation-for="Numer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" class="form-control"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiczbaOsob" class="control-label"></label>
                <input asp-for="LiczbaOsob" class="form-control" />
                <span asp-validation-for="LiczbaOsob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
