@using Hotel.Data.Data.DTO
@model MessageDto

@{
    ViewData["Title"] = "Dodaj wiadomość";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Dodaj wiadomość</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="mb-3">
                    <label asp-for="Temat" class="form-label font-weight-bold"></label>
                    <input asp-for="Temat" class="form-control" />
                    <span asp-validation-for="Temat" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Tresc" class="form-label font-weight-bold"></label>
                    <textarea asp-for="Tresc" class="form-control"></textarea>
                    <span asp-validation-for="Tresc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DataWyslania" class="form-label font-weight-bold"></label>
                    <input asp-for="DataWyslania" class="form-control" />
                    <span asp-validation-for="DataWyslania" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="SenderId" class="form-label font-weight-bold">Nadawca</label>
                    <select asp-for="SenderId" asp-items="Model.Users" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label for="RecipientId" class="form-label font-weight-bold">Odbiorca</label>
                    <select asp-for="RecipientId" asp-items="Model.Users" class="form-select"></select>
                </div>


                <div class="text-end">
                    <input type="submit" value="Dodaj" class="btn btn-primary me-2" />
                    <a asp-action="Index" class="btn btn-secondary">⬅ Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
