@model Hotel.Intranet.Models.Intranet.Messages

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Messages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Temat" class="control-label"></label>
                <input asp-for="Temat" class="form-control" />
                <span asp-validation-for="Temat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc" class="control-label"></label>
                <textarea asp-for="Tresc" class="form-control"></textarea>
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataWyslania" class="control-label"></label>
                <input asp-for="DataWyslania" class="form-control" />
                <span asp-validation-for="DataWyslania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NadawcaId" class="control-label"></label>
                <input asp-for="NadawcaId" class="form-control" />
                <span asp-validation-for="NadawcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdbiorcaId" class="control-label"></label>
                <input asp-for="OdbiorcaId" class="form-control" />
                <span asp-validation-for="OdbiorcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(Hotel.Intranet.Models.Intranet.MessageStatus)))
                    {
                        <option value="@((int)status)">@status</option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
