<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel.Intranet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo -->
                <div class="d-flex align-items-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="d-flex align-items-center logo-container">
                            <img src="~/content/front/logo.png" class="logo" alt="">
                            <h2 class="hotel-title">Hotel Atlantyk</h2>
                        </div>
                    </a>
                </div>



                <!-- Środkowa sekcja -->
                <div class="d-flex flex-grow-1 justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">STRONA GŁÓWNA</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rooms">POKOJE</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Atractions">ATRAKCJE</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prices">CENNIK</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Atractions" asp-action="Index">Atrakcje</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Media" asp-action="Index">Media</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Messages" asp-action="Index">Wiadomości</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pages" asp-action="Index">Strona</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Index">Pokoje</a>
                        </li>
                        <li class="nav-item ms-2 me-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Użytkownicy</a>
                        </li>
                    </ul>
                </div>

                <!-- Przycisk rezerwacji -->
                <div class="d-flex align-items-center div-login">
                    <a class="btn btn-login text-white" asp-area="" asp-controller="Home" asp-action="Index">ZALOGUJ</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Hotel Atlantyk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
