@using Hotel.Data.Data.CMS
@model IEnumerable<Page>

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-route-id="@item.IdStrony">@item.Tytul</a>
            </li>
        }
    </ul>
    <div class="d-flex align-items-center div-reservation">
        <a class="btn btn-reservation text-white" asp-area="" asp-controller="Home" asp-action="Index">REZERWUJ POBYT</a>
    </div>
</div>