@using Hotel.Data.Data.Reservations
@model Reservation

@{
    ViewData["Title"] = "Szczegóły rezerwacji";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Szczegóły rezerwacji</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Data rozpoczęcia</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataRozpoczecia)</dd>

                <dt class="col-sm-3 font-weight-bold">Data zakończenia</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataZakonczenia)</dd>

                <dt class="col-sm-3 font-weight-bold">Typ rezerwacji</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TypRezerwacji)</dd>

                <dt class="col-sm-3 font-weight-bold">Id użytkownika</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UzytkownikId)</dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model?.IdRezerwacji" class="btn btn-warning text-white me-2">✎ Edytuj</a>
            <a asp-action="Index" class="btn btn-secondary">⬅ Powrót do listy</a>
        </div>
    </div>
</div>


